
.right-list {
    background-color: #3b82f6;
    border-top-left-radius: 9999px; /* Rounded right side */
    border-bottom-left-radius: 9999px;
    margin-left: 25%;
    font-weight: 700;
}

.left-list {
    background-color: black;
    border-top-right-radius: 9999px; /* Rounded right side */
    border-bottom-right-radius: 9999px;
    font-weight: 700;
}